



<div class="stream-wave-content-item-VID">
  <div class="stream-wave-content-item-media">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/BdC8M-RVego" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">fuzzybunny92</div>
        <div class="rank-box-header-platform">YouTube</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>
