

<div class="stream-wave-content-item">
  <div class="stream-wave-content-item-media">
    <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/284074891&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">blueberry5</div>
        <div class="rank-box-header-platform">SoundCloud</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>

<div class="stream-wave-content-item">
  <div class="stream-wave-content-item-media">
    <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/81061993&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">teamplayer</div>
        <div class="rank-box-header-platform">SoundCloud</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>


<div class="stream-wave-content-item-VID">
  <div class="stream-wave-content-item-media">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/F5WWyyYG018?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">fuzzybunny92</div>
        <div class="rank-box-header-platform">YouTube</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>


<div class="stream-wave-content-item">
  <div class="stream-wave-content-item-media">
    <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/284074891&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">fuzzybunny92</div>
        <div class="rank-box-header-platform">SoundCloud</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>


<!--
<div class="stream-wave-content-item-PIC">
  <div class="stream-wave-content-item-media" width="100px">

    <blockquote class="reddit-card" width="100px" height="100%"><a href="https://www.reddit.com/r/FrankOcean/comments/6ievff/frank_poly_art/?ref=share&ref_source=embed" height="200px">Frank Poly Art</a> from <a href="http://www.reddit.com/r/FrankOcean">FrankOcean</a></blockquote>
    <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>

  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">User</div>
        <div class="rank-box-header-platform">Instagram</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div> -->


<div class="stream-wave-content-item">
  <div class="stream-wave-content-item-media">
    <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/284074891&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">fuzzybunny92</div>
        <div class="rank-box-header-platform">YouTube</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>

<div class="stream-wave-content-item-VID">
  <div class="stream-wave-content-item-media">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/6ohakZ5wYu8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">fuzzybunny92</div>
        <div class="rank-box-header-platform">YouTube</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>


<div class="stream-wave-content-item">
  <div class="stream-wave-content-item-media">
    <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/284074891&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header">
        <div class="rank-box-header-creator">fuzzybunny92</div>
        <div class="rank-box-header-platform">YouTube</div>
      </div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>

<div class="stream-wave-content-item">
  <div class="stream-wave-content-item-media">
    <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/81061993&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="stream-wave-content-item-rank">
    <div class="rank-box">
      <div class="rank-box-header"></div>
      <div class="rank-box-voter-container">
        <div class="rank-box-voter-actual">
          <div class="rank-voter-up"><a href="#" class="rank-up-img"></a></div>
          <div class="rank-voter-down"><a href="#" class="rank-down-img"></a></div>
          <div class="rank-voter-flag"><a href="#" class="rank-flag-img"></a></div>
        </div>
        <div class="rank-box-voter-bottom-gutter"></div>
      </div>
    </div>
  </div>
</div>
