


<div class="empty-div" id="beyonce">
  <img src="/images/arrow.png" width="30px" height="auto" style="transform:translateY(8px) rotate(90deg);">
  BEYONCE
</div>

<div class="empty-div" id="frank-ocean">
  <img src="/images/arrow.png" width="30px" height="auto" style="transform:translateY(8px) rotate(90deg);">
  FRANK OCEAN
</div>

<div class="empty-div" id="justin-bieber">
  <img src="/images/arrow.png" width="30px" height="auto" style="transform:translateY(8px) rotate(90deg);">
  JUSTIN BIEBER
</div>

<div class="empty-div" id="kanye-west">
  <img src="/images/arrow.png" width="30px" height="auto" style="transform:translateY(8px) rotate(90deg);">
  KANYE WEST
</div>

<div class="empty-div" id="coldplay">
  <img src="/images/arrow.png" width="30px" height="auto" style="transform:translateY(8px) rotate(90deg);">
  COLDPLAY
</div>

<div class="empty-div" id="partynextdoor">
  <img src="/images/arrow.png" width="30px" height="auto" style="transform:translateY(8px) rotate(90deg);">
  PARTYNEXTDOOR
</div>
