<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language="javascript" type="text/javascript" src="/javascripts/lib/jquery.js"></script>
  </head>
  <body>

    <div class="top-banner">
      <div class="top-banner-text">
        the ocean
      </div>
    </div>
    <div class="main-body">
      <div class="gutter"></div>
      <div class="artists">
        <div class="artists-body">
          <div class="artists-fade-upper"></div>
          <div class="artists-fade-lower"></div>
          <div class="artist"
            style="
              background-image: url('/images/frank-swim.jpg');
              background-size: 100%;
            ">Frank Ocean
          </div>
          <div class="artist"
            style="
              background-image: url('/images/beyonce.png');
              background-size: 100%;
            ">Beyonce
          </div>
          <div class="artist"
            style="
              background-image: url('/images/justin-bieber.png');
              background-size: 100%;
            ">Justin Bieber
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">Kanye West
          </div>
          <div class="artist"
            style="
              background-image: url('/images/coldplay.png');
              background-size: 100%;
            ">Coldplay
          </div>
          <div class="artist"
            style="
              background-image: url('/images/partynextdoor.jpg');
              background-size: 100%;
            ">PartyNextDoor
          </div>




          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
          <div class="artist"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">someone
          </div>
        </div>
      </div>
      <div class="stream">
        <div class="stream-banner"></div>
        <div class="stream-wave">
          <div class="stream-wave-content"></div>
          <div class="stream-wave-rank"></div>
        </div>
      </div>
      <div class="gutter"></div>
    </div>




    <div class="search-container">
      <div class="gutter"></div>
      <div class="search-prompt-container">
        <div class="search">search artists</div>
      </div>
      <div class="search-main-gutter"></div>
      <div class="gutter"></div>
    </div>







    <script language="javascript" type="text/javascript">
      $('.stream-wave-content').load("/waves/frank-ocean.ejs");
    </script>


  </body>
</html>
