<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language="javascript" type="text/javascript" src="/javascripts/lib/jquery.js"></script>
  </head>
  <body>

    <div class="top-banner">
      <div class="search">search artists</div>
    </div>



    <div class="main-body">
      <div class="gutter"></div>
      <div class="artists">
        <div class="artists-body">
          <div class="artists-fade-upper"></div>
          <div class="artists-fade-lower"></div>
          <a href="#" class="artist" id="frank-ocean"
            style="
              background-image: url('/images/frank-swim.jpg');
              background-size: 100%;
            ">Frank Ocean
          </a>
          <a href="#" class="artist" id="beyonce"
            style="
              background-image: url('/images/beyonce.png');
              background-size: 100%;
            ">Beyonce
          </a>
          <a href="#" class="artist" id="justin-bieber"
            style="
              background-image: url('/images/justin-bieber.png');
              background-size: 100%;
            ">Justin Bieber
          </a>
          <a href="#" class="artist" id="kanye-west"
            style="
              background-image: url('/images/kanye-west.jpg');
              background-size: 100%;
            ">Kanye West
          </a>
          <a href="#" class="artist" id="coldplay"
            style="
              background-image: url('/images/coldplay.png');
              background-size: 100%;
            ">Coldplay
          </a>
          <a href="#" class="artist" id="partynextdoor"
            style="
              background-image: url('/images/partynextdoor.jpg');
              background-size: 100%;
            ">PartyNextDoor
          </a>






        </div>
      </div>
      <div class="stream">
        <!-- <div class="stream-banner"style="background-image: url('/images/frank-swim.jpg');background-size: 100%;"> -->
        <div class="stream-banner">
          <div class="stream-banner-artist-name"></div>
        </div>
        <div class="stream-wave">
          <div class="stream-wave-content">
            <div style="
              position: relative;
              float: left;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            ">
              <div style="
                font-size:18pt;
                color: navy;
                width: 80%;
                margin: 0 auto;
              ">
                Select an artist to begin browsing and voting on your favorite content!
              </div>
            </div>
          </div>
          <div class="stream-wave-rank"></div>
        </div>
      </div>
      <div class="gutter"></div>
    </div>




    <div class="search-container">
      <div class="gutter"></div>
      <div class="search-prompt-container">
        <div class="top-banner-text">
          the ocean
        </div>
      </div>
      <div class="search-main-gutter"></div>
      <div class="gutter"></div>
    </div>


    <div class="stream-clone-left-margin"></div>
    <div class="stream-clone"></div>

    <script language="javascript" type="text/javascript">
      $('.artist').click(function(event) {
        $.ajax(this.href, {
          success: function() {
            $( ".stream-wave-content" ).load("/waves/" + event.target.id + ".ejs");
            $( ".stream-banner-artist-name" ).load("/waves/names.ejs #" + event.target.id);
          }
        });
      });

      function unland() {
        document.getElementById('land').style.backgroundColor = "transparent";
        document.getElementById('land').style.background = "linear-gradient(to top, rgb(0,100,155), transparent, transparent)";
        document.getElementById('land').style.height = "0";
        document.getElementById('land').style.top = "100%";
        document.getElementById('land-film').style.zIndex = "-5";
        document.getElementById('land-title-container').style.zIndex = "-10";
        document.getElementById('land-title').style.zIndex = -11;
        document.getElementById('current-1').style.height = "0";
        document.getElementById('current-2').style.height = "0";
        document.getElementById('current-3').style.height = "0";

      }

    </script>

    <div class="logo-container">
      <div class="logo"></div>
    </div>


    <div id="land"></div>
    <div id="land-title-container">
      <div id="land-title">
        <div id="land-delayed-welcome">
          welcome to
        </div>
        <div>
          the ocean
        </div>
        <hr>
        <div id="land-delayed-welcome">
          click anywhere to begin swimming
        </div>
      </div>
    </div>
    <a href="#" id="land-film" onclick="unland();"></a>

    <div id="current-1">
      <img width="100%" height="100%" src="/images/ocean-layer-1.png">
    </div>
    <div id="current-2">
      <img width="100%" height="100%" src="/images/ocean-layer-2.png">
    </div>
    <div id="current-3">
      <img width="100%" height="100%" src="/images/ocean-layer-3.png">
    </div>


  </body>
</html>
