
@font-face {
  font-family: Satellite;
  src: url("/assets/MrEavesSanOT/Emigre/MrEavesSanOTReg.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Satellite', serif;
  -webkit-text-stroke-width: 0.5px;
  width: 100%;
  height: 100%;
  background: rgb(254,244,234);
}
::-webkit-scrollbar {
  display: none;
}

a {
  margin: 0;
  padding: 0;
}
.top-banner {
  position: relative;
  overflow: hidden;
  top: 0;
  height: 48px;
  width: 100%;
  background: rgb(0,100,155);
  /*background-color: rgb(4,51,135);*/
  border-bottom: 2px solid rgb(0,70,100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-banner-text {
  color: white;
  font-size: 16pt;
  border-bottom: 1px solid white;
  z-index: 2;
}


.logo-container {
  clear: both;
  position: fixed;
  left: 10px;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
} .logo {
  z-index: 3;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  background-image: url('/images/team-blue-logo.jpg');
  background-size: 100%;
}


.search-container {
  clear: both;
  position: fixed;
  float: left;
  width: 100%;
  height: 50px;
  top: 0;
} .search-prompt-container {
  position: relative;
  float: left;
  width: 200px;
  height: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
} .search {
  margin: 0 auto;
  position: relative;
  float: left;
  background: white;
  width: 200px;
  height: 45%;
  border-radius: 10px;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-main-gutter {
  position: relative;
  float: left;
  width: 600px;
  height: 100%;
}




.main-body {
  position: fixed;
  float: left;
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
  min-width: 800px;
  background: rgb(254,244,234);
}

.gutter {
  position: relative;
  float: left;
  overflow: hidden;
  height: 100%;
  width: calc((100% - 800px) / 2);
}

/* the artist info */
.artists {
  position: relative;
  float: left;
  overflow: hidden;
  width: 200px;
  /*border-top: 4px solid rgb(0,70,100);*/
  height: calc(100% - 0px);
} .artists-body {
  overflow: auto;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 98%;
  height: calc(100% - 8px);
} .artist {
  width: 175px;
  height: 175px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  text-decoration: none;
  color: rgb(254,244,234);
  text-shadow: 5px 5px 15px rgb(0,100,155);
  box-shadow: 1px 1px 1px rgba(0,100,155,.2);
} .artist:hover {
  border: 2px solid rgb(0,100,155);
}
.artists-fade-upper {
  position: fixed;
  top: 50;
  background: linear-gradient(to top, transparent, rgb(254,244,234));
  width: 200px;
  height: 30px;
}


/*.artists-fade-lower {
  position: fixed;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgb(254,244,234));
  width: 200px;
  height: 100px;
}*/









.empty-div {
  position:relative;
  float:left;
  width:100%;
  height:100%;
}



#land {
  clear: both;
  position: fixed;
  top: -900%;
  left: 0;
  width: 100%;
  background: rgb(0,100,155);

  /*background-color: rgb(4,51,135);*/
  height: 1000%;
  z-index: 10;
  transition: 5s;
}

#land-title-container {
  clear: both;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  transition: 5s;
}

#land-title {
  position: relative;
  letter-spacing: 3.5px;
  float: left;
  font-size: 48pt;
  text-align: center;
  width: 100%;
  color: white;
  z-index: 22;
  transition: 5s;
}
#land-film {
  clear: both;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
}

@keyframes newanim {
  0% {
    color: rgb(255,255,255,0.0);
  }
  50% {
    color: rgb(255,255,255,0.0);
  }
  100% {
    color: rgb(255,255,255,1.0);
  }
}


#land-delayed-welcome {
  /* transition 2.5 transparent to 0.5px off-white: */
  transition: 30s;
  width: 100%;
  font-size: 18pt;
  /*z-index: 22;*/
  color: rgba(0,200,255,1);
  -webkit-text-stroke-width: 0.25px;
  animation: newanim 11s no-repeat;
}








/* the content stream */
.stream {
  position: relative;
  float: left;
  /*overflow: hidden;*/
  width: 600px;
  border-left: 3px solid rgb(0,70,100);
  /*border-top: 4px solid rgb(0,70,100);*/
  height: calc(100% - 0px);
  z-index: 1;
}
.stream-banner {
  position: relative;
  float: left;
  /*overflow: hidden;*/
  width: calc(100% - 28px);
  margin-left: 28px;
  height: calc(75px - 8px);
  margin-top: 8px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
} .stream-banner-artist-name {
  font-size: 18pt;
  width: 100%;
  height: calc(100% - 4px);
  display: flex;
  align-items: center;
  justify: middle;
  border-bottom: 4px solid rgb(0,70,100);
}

.stream-wave {
  position: relative;
  float: left;
  overflow: scroll;
  margin-left: 0px;
  width: 100%;
  height: calc(100% - 75px - 4px);
}
.stream-wave-content {
  position: relative;
  /*overflow: scroll;*/
  float: left;
  width: calc(100% - 16px);
  height: 100%;
}






.stream-wave-content-item {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 30px;
  height: 100px;
  border: 1px solid rgb(0,100,155);
  border-radius: 3px;
}
.stream-wave-content-item-VID {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 30px;
  height: 250px;
  border: 1px solid rgb(0,100,155);
  border-radius: 2px;
}
.stream-wave-content-item-PIC {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 30px;
  border: 1px solid rgb(0,100,155);
  border-radius: 2px;
  height: 600px;
  width: auto;
}


 .stream-wave-content-item-media {
  position: relative;
  float: left;
  height: 100%;
  width: 440px;
}







/*voter box*/
.stream-wave-content-item-rank {
  position: relative;
  float: left;
  overflow: hidden;
  width: calc(100% - 440px);
  height: 100%;
} .rank-box {
  position: relative;
  float: left;
  margin: 0 auto;
  height: 100%;
  width: (100% - 4px);
  border-right: 4px solid rgb(0,100,155);
  border-left: 1px solid rgb(0,100,155);
} .rank-box-header {
  position: relative;
  float: left;
  width: calc(100% - 8px);
  margin-left: 8px;
  height: 40px;
} .rank-box-header-creator {
  position: relative;
  float: left;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
} .rank-box-header-platform {
  position: relative;
  float: left;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}


.rank-box-voter-container {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 40px);
} .rank-box-voter-actual {
  position: relative;
  float: left;
  width: 100%;
  height: 58px;
  border-top: 2px solid rgba(0,100,155,.25);
} .rank-voter-up {
  position: relative;
  float: left;
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} .rank-up-img {
  width: 100%;
  height: 100%;
  background-image: url('/images/arrow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(16%);
} .rank-voter-up:hover {
  background: rgba(0,100,155,.05);
}


 .rank-voter-down {
  position: relative;
  float: left;
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} .rank-down-img {
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/arrow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg) translateY(15%);
} .rank-voter-down:hover {
  background: rgba(0,100,155,.05);
}

 .rank-voter-flag {
  position: relative;
  float: left;
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} .rank-flag-img {
  width: 100%;
  height: 100%;
  background-image: url('/images/flag.png');
  background-repeat: no-repeat;
  background-size: 50%;
  transform: translate(25%, 33%);
} .rank-voter-flag:hover {
  background: rgba(255,10,55,.05);
}




 .rank-box-voter-bottom-gutter {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 60px);
}









.stream-clone-left-margin {
  clear: both;
  position: relative;
  float: left;
  width: calc((100% - 800px) / 2);
  height: 10px;
}
.stream-clone {
  position: relative;
  /*background: linear-gradient(to bottom, rgb(254,244,234), transparent);*/
  /*background: linear-gradient(to bottom, rgb(0,100,155), transparent);*/
  float: left;
  left: 231px;
  top: 74px;
  overflow: hidden;
  width: 572px;
  height: 4px;
}












@keyframes current1 {
  0% {
    left: 0;
    bottom: 0%;
  }
  25% {
    left: -20%;
  }
  50% {
    left: 0;
    bottom: -10%;
  }
  75% {
    left: -20%;
  }
  100% {
    left: 0;
    bottom: 0%;
  }
}
@keyframes current3 {
  0% {
    left: -15%;
    bottom: -15%;
  }
  10% {
    bottom: 0;
  }
  20% {
    bottom: -15%;
  }
  30% {
    bottom: 0;
  }
  40% {
    bottom: -15%;
  }
  50% {
    left: 0;
    bottom: 0;
  }
  60% {
    bottom: -15%;
  }
  70% {
    left: -15%;
    bottom: 0;
  }
  80% {
    bottom: -15%;
  }
  90% {
    left: 0;
    bottom: 0;
  }
  100% {
    left: -15%;
    bottom: -15%;
  }
}
#current-1 {
  clear: both;
  position: fixed;
  overflow: hidden;
  width: 125%;
  height: 125%;
  z-index: 20;
  bottom: -10px;
  animation: current1 11s infinite;
  transition: 7s;
}
#current-2 {
  clear: both;
  position: fixed;
  overflow: hidden;
  width: 125%;
  height: 125%;
  z-index: 20;
  bottom: -10px;
  animation: current1 12.5s infinite;
  transition: 7s;
}
#current-3 {
  clear: both;
  position: fixed;
  overflow: hidden;
  width: 125%;
  height: 125%;
  z-index: 20;
  bottom: -10px;
  animation: current3 18s infinite;
  transition: 7s;
}
