body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  height: 100%;
  background: rgb(254,244,234);
}
::-webkit-scrollbar {
  display: none;
}

a {
  margin: 0;
  padding: 0;
}
.top-banner {
  position: relative;
  overflow: hidden;
  top: 0;
  height: 48px;
  width: 100%;
  background: rgb(0,100,155);
  border-bottom: 2px solid rgb(0,70,100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-banner-text {
  color: white;
  font-size: 16pt;
  border-bottom: 1px solid white;
}



.search-container {
  clear: both;
  position: fixed;
  float: left;
  width: 100%;
  height: 50px;
  top: 0;
} .search-prompt-container {
  position: relative;
  float: left;
  width: 200px;
  height: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
} .search {
  margin: 0 auto;
  position: relative;
  float: left;
  background: white;
  width: 200px;
  height: 45%;
  border-radius: 10px;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-main-gutter {
  position: relative;
  float: left;
  width: 500px;
  height: 100%;
}




.main-body {
  position: fixed;
  float: left;
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
  min-width: 700px;
  /*background: red;*/
}

.gutter {
  position: relative;
  float: left;
  overflow: hidden;
  height: 100%;
  width: calc((100% - 700px) / 2);
}

/* the artist info */
.artists {
  position: relative;
  float: left;
  overflow: hidden;
  width: 200px;
  border-top: 4px solid rgb(0,70,100);
  height: calc(100% - 4px);
} .artists-body {
  overflow: auto;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 98%;
  height: calc(100% - 8px);
} .artist {
  width: 175px;
  height: 175px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke-width: 1.5px;
  font-size: 20pt;
  color: rgb(254,244,234);
  text-shadow: 5px 5px 15px rgb(0,100,155);
  box-shadow: 1px 1px 1px rgba(0,100,155,.2);
} .artist:hover {
  border: 2px solid rgb(0,100,155);
}
.artists-fade-upper {
  position: fixed;
  top: 50;
  background: linear-gradient(to top, transparent, rgb(254,244,234));
  width: 200px;
  height: 30px;
}


/*.artists-fade-lower {
  position: fixed;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgb(254,244,234));
  width: 200px;
  height: 100px;
}*/
















/* the content stream */
.stream {
  position: relative;
  float: left;
  overflow: hidden;
  width: 490px;
  border-left: 3px solid rgba(0,100,155,1);
  border-top: 4px solid rgb(0,70,100);
  height: calc(100% - 4px);
}
.stream-banner {
  position: relative;
  float: left;
  overflow: hidden;
  width: calc(100% - 8px);
  margin-left: 8px;
  height: calc(75px - 16px);
  margin-top: 8px;
  margin-bottom: 8px;
} .stream-banner-artist-name {
  font-size: 18pt;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify: middle
}

.stream-wave {
  position: relative;
  float: left;
  overflow: scroll;
  width: calc(100% - 8px);
  height: calc(100% - 75px);
}
.stream-wave-content {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 75px);
}


.stream-wave-content-item {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
  height: 100px;
  border: 1px solid rgb(0,100,155);
  border-radius: 2px;
} .stream-wave-content-item-media {
  position: relative;
  float: left;
  height: 100%;
  width: 350px;
}
.stream-wave-content-item-rank {
  position: relative;
  float: left;
  width: calc(100% - 350px);
  height: 100%;
} .rank-box {
  position: relative;
  float: left;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border-left: 1px solid rgb(0,100,155);
} .rank-box-header {
  position: relative;
  float: left;
  width: calc(100% - 8px);
  margin-left: 8px;
  height: 40px;
} .rank-box-header-creator {
  position: relative;
  float: left;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
} .rank-box-header-platform {
  position: relative;
  float: left;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}


.rank-box-voter-container {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 40px);
} .rank-box-voter-actual {
  position: relative;
  float: left;
  width: 100%;
  height: 58px;
  border-top: 2px solid rgba(0,100,155,.25);
} .rank-voter-up {
  position: relative;
  float: left;
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} .rank-up-img {
  width: 100%;
  height: 100%;
  background-image: url('/images/arrow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(16%);
} .rank-voter-up:hover {
  background: rgba(0,100,155,.05);
}


 .rank-voter-down {
  position: relative;
  float: left;
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} .rank-down-img {
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/arrow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg) translateY(15%);
} .rank-voter-down:hover {
  background: rgba(0,100,155,.05);
}

 .rank-voter-flag {
  position: relative;
  float: left;
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} .rank-flag-img {
  width: 100%;
  height: 100%;
  background-image: url('/images/flag.png');
  background-repeat: no-repeat;
  background-size: 50%;
  transform: translate(25%, 30%);
} .rank-voter-flag:hover {
  background: rgba(0,100,155,.05);
}




 .rank-box-voter-bottom-gutter {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 60px);
}


.stream-wave-content-item-VID {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
  height: 250px;
  border: 1px solid rgb(0,100,155);
  border-radius: 2px;
}
.stream-wave-content-item-PIC {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
  border: 1px solid rgb(0,100,155);
  border-radius: 2px;
  height: 410px;
  width: auto;
  /*width: auto;*/
}







/*.clone {
  clear: both;
  position: fixed;
  width: 100%;
  height: 100%;
}*/
.stream-clone-left-margin {
  clear: both;
  position: relative;
  float: left;
  width: calc((100% - 700px) / 2);
  height: 10px;
  /*background: green;*/
}
.stream-clone {
  position: relative;
  background: linear-gradient(to bottom, rgb(254,244,234), transparent);
  float: left;
  left: 208px;
  top: 75px;
  overflow: hidden;
  width: 490px;
  height: 30px;
} .stream-clone-fade {

}
